<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet"> 
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet"> 
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.16.0/css/mdb.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../../show.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js"></script>
    <title>Book</title>
</head>
<body>
<div class="container-fluid">

    <div class="row">

        <div class="col-12-lg" style="margin: 20px auto;">

            <div class="card">

                <div class="card-header">

                    <div class=" view zoom">
                        <img id="show-img" src="<%= book.image %>" class="img-fluid  animated rotateInDownLeft faster z-depth-1"  alt="book">
                        <div class="mask pattern-4">
                        </div>

                    </div>

                   <h2 class=""><%= book.title %> </h2>  
                   <h4 class="text-muted"><%= book.author %></h4><span>year:<%= book.publish %> </span>

                </div>

                <div class="card-body">

                    <div class="card-text">
                        <p><%= book.description %> </p>

                    </div>

                    <hr>
                    <a class="btn btn-outline-default " href="/library/<%= book._id %>/comment/create">add comment</a>
                    <% book.comments.forEach(item => { %>
                        <p class="text-muted"><span class="font-weight-bold"><%= item.user %></span>: <%= item.content %>  </p>
                    <% }) %>
                  
                    
                </div>
            </div>
        </div>
    </div>
</div>


<%- include('../../layouts/footer'); -%>